body::-webkit-scrollbar {
    width: 10px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: rgb(35,43,58);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgb(18,26,39);
    outline: 1px solid rgb(35,43,58);
  }

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width : 100%;
    min-height: 544px;
    /* height: 800px; */
    background-color: rgb(35,43,58);
    padding-bottom: 50px;
    /* padding: 30px; */
    /* overflow:hidden; */
}
body {
    background-color:  white;
    /* color: black; */
    color: white;
    
    

    /* width: 960px; */
}
p {
    /* color: black; */
    color: white;
}

.battery-tile {

    width : 100%;
    height: 100px;
    background-color: rgb(18,26,39);

    border-radius: 25px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;


}
.top_banner{
    font-size: 25px;
    padding-top: 10px;
}

.back-button {
    /* position: absolute; */
    width: 80px;
    height: 50px;
    /* top: 8px;
    left: 16px; */

}
.back_tile {
    width : 100%;
    height: 50px;
    background-color: rgb(18,26,39);
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;    
}
.back_tile_parent {
    width: 100%;
    max-width: 800px;
}

.reset_tile {
    width : 500px;
    height: 38px;
    background-color: rgb(18,26,39);
    border-radius: 25px;
    margin: auto;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    text-align: center;
}
.width_constraint {
    width:85%;
    max-width:800px;
    min-width:700px;
}

.tile-image {
    height: 50px;
    width: 50px;
    margin: 0;
    position: relative;
   

}

.battery-status {
    
    background-color:  rgb(18,26,39);
    /* margin-right: 15; */
    border-radius:0px 20px 20px 0px;
    height: 100%;
    border-left: 2px solid black;
    text-align: center;
    overflow: auto;
    overflow: hidden;
    flex-direction: column;
    
}

.loading_screen {
    /* display: inline-block; */
    height: 300px;
    width: 100%;
    text-align: center;
    /* vertical-align: middle; */
    font-size: 24px;
    margin: auto;
    padding-top:50px;
}

.loading_img{
    height: 100%;
}
.battery_info {
    width: 100%;
    
}



.info_row{
    width: 100%;
    height: 50px;
    color: white;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    /* border: 1px black solid; */
    margin: 2px;
    background-color: rgb(18,26,39);
    

}
.info_row, div {
    padding: 0;
}

.info_row_parent {
    width: 90%;
    max-width:800px ;
}

.info_name{
    line-height: 50px;
}

.info_value {
    height: 46px;
    background: #ffffff10;
    border-radius: 5px;
    margin-right: 2px;
    color: white;
    text-align: center;
    max-width: 80px;
    margin-top: 2px;
    
    
}